[submodule "bloom/lib/spdlog"]
	path = bloom/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "bloom/lib/glfw"]
	path = bloom/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "bloom/lib/glm"]
	path = bloom/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "bloom/lib/stb"]
	path = bloom/lib/stb
	url = https://git.xein.es/xein/stb.git
[submodule "bloom/lib/imgui"]
	path = bloom/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "bloom/lib/json"]
	path = bloom/lib/json
	url = https://github.com/nlohmann/json.git
